@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-gradient-primary-to-secondary {
  background: linear-gradient(95deg, #F62279 -2.8%, #B7DEFE 113.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin-center {
  margin: 0 auto;
}
.center-footer {
  padding: 0 calc((100% - (10/12)) * 1%);
}